  <div class="line"></div>
 <div id="leftimage"> <%= image_tag "dallibus.png"%> </div> 
 </br>
 <h2> ТОВ "Зета ІФ" пропонує безкоштовну доставку по м.Івано-Франківську,</h2> </br>
 <h2>  а також відправку будь-якими службами доставки по Україні, після передоплати. </h2> </br>
 <h2>ви можете <%= link_to "зв'язатись з нами", page_path("contacts") %> для уточнення деталей.</h2> </br>
 <div class='clear'></div>
 <div class="cert">
			<%= (link_to(image_tag("a1_small.jpg"), "/images/a1.jpg")) %>   
		</div>
		<div class="cert">
			<%= (link_to(image_tag("a2_small.jpg"), "/images/a2.jpg"))%>
		</div>
		<div class="cert">
			<%= (link_to(image_tag("a3_small.jpg"), "/images/a3.jpg"))%>
		</div>
		<div class="cert">
			<%= (link_to(image_tag("a4_small.jpg"), "/images/a4.jpg"))%>
		</div>
 
  
