
		<div class="line"></div>
		<div id="pitch">
			<h1>Dalli - доступна німецька якість</h1>
			<h2>ТОВ "Зета ІФ" - офіційний імпортер продукції DALLI в Україні  (095-341-96-23) </h2>
		</div>	
		<div class="third">
			<h3><%= link_to "Про нас", page_path("contacts"),:class => "phome" %></h3>
			<p>Німецька компанія Dilli Group заснована у 1845р. в місті Штольберг.На даний час, за обсягом виробництва компанія є однією з 				найбільших виробників миючих засобів у Європі. Діяльність компанії визначається прихильним ставленням до збереження навколишнього середовища та здоров'я співробітників, клієнтів і споживачів продукції. ТОВ "Зета ІФ" є офіційним представником та імпортертером продукції DALLI в Україні,запрошує до <%= link_to "співпраці", page_path("coop")%> оптових та пропонує <%= link_to "продукцію", products_path %> для роздрібних покупців.</p>
		</div>
		<div class="third">
			<h3><%= link_to "Продукція", products_path,:class => "phome" %></h3>
			<p>Основними перевагами пральних порошків Dalli над конкурентами є їх висока концентрація, і як наслідок, дуже вигідна ціна, 				низький вміст неіонних тензидів та повна відсутність шкідливих фосфатів.Вся продукція виготовлена із застосуванням найсучасніших 			технологій та формул,всі порошки містять речовини, що запобігають утворенню вапнякового осаду на робочих елементах пральної машини. </br> <%= link_to "дізнатись більше...", products_path %></p>
		</div>
		<div class="third last">
			<h3><%= link_to "Сертифікати відповідності", page_path("cert"),:class => "phome" %></h3>
			<p>Продукція Dalli сертифікована в Україні та Європі , відповідає всім найсучаснішим стандартам. Застосування сучасних 				технологій та формул високо оцінено та рекомендовано Німецькою асоціацією алергиків та астматиків, що дозволяє з впевненістю 				використовувати наші порошки людям, які страждають від алергії на пральні засоби.</br><%= link_to "дізнатись більше...", page_path("cert")%></p>
		</div>