<div class="line"></div>

<h1>Редагувати продукт:</h1>

<%= javascript_include_tag :ckeditor %>

<% semantic_form_for @product, :html => {:multipart => true} do |form| %>
    <% form.inputs do %>
    	<%= form.input :title, :label => "Назва продукту" %>
    	<%= form.input :shortd, :label => "Короткий опис" %>
    	<%= form.input :description, :as => :ckeditor, :label => "Опис" %>
    	<%= form.input :price, :label => "Ціна за 1 шт,грн" %>
    	<%= form.input :photo, :label => "Вибрати нове фото"%>
  		<%= form.input :twenty, :label => "20" %>
  		<%= form.input :thirty,:label => "30"%>
  		<%= form.input :forty,:label => "40"%>
  		<%= form.input :sixty,:label => "60"%>
  		<%= form.input :ninety,:label => "95"%>
  		<%= form.input :astma,:label => "для астматиків"%>
  		<%= form.input :alerg,:label => "для алергиків" %>
  	<% end %>
  
  	<% form.buttons do %>
  		<%= form.commit_button :label => "Змінити продукт" %>
	<% end %>
<% end %>

<%= link_to 'Показати', @product %> |
<%= link_to 'Всі продукти', products_path %>