<div class="line"></div>

<h1>Редагувати продукт:</h1>

<%= javascript_include_tag :ckeditor %>

<% semantic_form_for @product, :html => {:multipart => true} do |form| %>
    <% form.inputs do %>
    	<%= form.input :title, :label => "Назва продукту" %>
    	<%= form.input :ukrtitle, :label => "Введіть підказку - назву продукту по україінськи" %>
    	<%= form.input :artukyl, :label => "Введіть артикул продукту" %>
    	<%= form.input :category, :label => "Виберіть категорію" %>
    	<%= form.input :shortd, :label => "Короткий опис" %>
    	<%= form.input :description, :as => :ckeditor, :label => "Опис" %>
    	<%= form.input :price, :label => "Ціна за 1 шт,грн" %>
    	<%= form.input :sklad,:as => :radio,:label => "Наявність на складі"%>
    	<%= form.input :typ,:as => :radio,:label => "Тип порошку рідкий?" %>
    	<%= form.input :photo, :label => "Вибрати нове фото"%>
  		<h1>Температурний режим:</h1>
    	<%= form.input :twenty, :label => "20" %>
  		<%= form.input :thirty,:label => "30"%>
  		<%= form.input :forty,:label => "40"%>
  		<%= form.input :sixty,:label => "60"%>
  		<%= form.input :ninety,:label => "95"%>
  		<%= form.input :astma,:label => "для астматиків"%>
  		<%= form.input :alerg,:label => "для алергиків" %>
  		<h1>Кількість завантажень пральної машинки:</h1>
 	  	<%= form.input :eighteenzav, :label => "18 завантажень" %> 
    	<%= form.input :twentyzav,:label => "20 завантажень"%> 
    	<%= form.input :fortyzav,:label => "40 завантажень"%>
    	<%= form.input :fortyfivezav,:label => "45 завантажень"%> 
    	<%= form.input :seventyzav,:label => "75 завантажень"%>	
    	<%= form.input :hundredzav,:label => "100 завантажень"%>
  		
  	<% end %>
  
  	<% form.buttons do %>
  		<%= form.commit_button :label => "Змінити продукт" %>
	<% end %>
<% end %>

<%= link_to 'Показати', @product %> |
<%= link_to 'Всі продукти', products_path %>