<div class="line"></div>

<% if logged_in?  %>    
  <%= link_to 'Додати новий продукт', new_product_path %> | 
<% end %>
<% if logged_in?  %>
  <%= link_to 'Вийти', logout_path %>   
<% end %>
<p>

<h1>Продукція</h1>
<p>

<% @products.each do |product| %>
  
	<div class="title"> 
		<h3> <strong><%=link_to product.title,product, :class => "phome" %> </strong> </h3>
		<em><%= product.ukrtitle %><i></i></em>
	</div>
  <div class="forth">
    <%= link_to (image_tag(product.photo.url(:small))),product %>
  </div>
  <div class="forth2">
    <h1> <%=h product.shortd %> </h1>
  	<br />
  	<%= link_to 'Показати детальніше', product %>
    <% if logged_in?  %>
       | <%= link_to 'Редагувати', edit_product_path(product) %> | 
    <%end %>
    <% if logged_in?  %>    
       <%= link_to 'Видалити', product, :confirm => 'Ви впевнені, що хочете видалити цей продукт?', :method => :delete %>
    <%end %>
    
<div class='clear'></div>
  <%if product.twenty==true %> <div class="prodimag"> <%= image_tag("20.png") %> </div> <% end %> 
  <%if product.thirty==true %> <div class="prodimag"> <%= image_tag("30.png") %> </div> <% end %> 
  <%if product.forty==true %> <div class="prodimag"> <%= image_tag("40.png") %> </div> <% end %> 
  <%if product.sixty==true %> <div class="prodimag"> <%= image_tag("60.png") %> </div> <% end %> 
  <%if product.ninety==true %> <div class="prodimag"> <%= image_tag("95.png") %> </div> <% end %>  
    
    
    </div>
  <div class="forth3">
  	<h2>Ціна за 1 шт.:</h2>
    <h3><%=h product.price %> грн<sup>*</sup></h3>
    <div class='clear'></div>
<div class="prodimag2"> <%= image_tag("standiso.gif")%> </div>
<%if product.alerg==true %> <div class="prodimag2"> <%= image_tag("Dermat.gif") %> </div> <% end %> 
<%if product.astma==true %> <div class="prodimag2"> <%= link_to (image_tag("astma_sensitive.png")), "http://www.daab.de/" %> </div> <% end %> 
	
  </div>    
  <div class="line"></div>
<% end %>

<h2><sup>*</sup> Ціна не є остаточною і може змінюватись, для уточнення ціни та умов  <%= link_to "доставки", page_path("dost") %> продукції <%= link_to "зв'яжіться з нами", page_path("contacts") %> </h2>
