<div class="line"></div>

<h1>Введіть дані для нового продукту:</h1>
<%= javascript_include_tag :ckeditor %>


<% semantic_form_for @product, :html => {:multipart => true} do |form| %>
    <% form.inputs do %>
    	<%= form.input :title %>
    	<%= form.input :shortd %>
    	<%= form.input :description, :as => :ckeditor %>
    	<%= form.input :price %>
    	<%= form.input :photo%>
    	<%= form.input :prodimags, :as => :check_boxes%>
  		
  	<% end %>
  
  	<% form.buttons do %>
  		<%= form.commit_button%>
	<% end %>
<% end %>
<%= link_to 'Всі продукти', products_path %>