<div class="line"></div>

<h1>Введіть дані для нового продукту:</h1>
<%= javascript_include_tag :ckeditor %>


<% semantic_form_for @product, :html => {:multipart => true} do |form| %>
    <% form.inputs do %>
    	<%= form.input :title, :label => "Введіть назву продукту" %>
    	<%= form.input :ukrtitle, :label => "Введіть підказку - назву продукту по українськи" %>
    	<%= form.input :shortd, :label => "Введіть короткий опис"%>
    	<%= form.input :description, :as => :ckeditor, :label => "Розширений опис" %>
    	<%= form.input :price, :label => "Ціна за 1 шт,грн" %>
    	<%= form.input :photo, :label => "Додати фото"%>
    	<%= form.input :twenty, :label => "20" %>
  		<%= form.input :thirty,:label => "30"%>
  		<%= form.input :forty,:label => "40"%>
  		<%= form.input :sixty,:label => "60"%>
  		<%= form.input :ninety,:label => "95"%>
  		<%= form.input :astma,:label => "для астматиків"%>
  		<%= form.input :alerg,:label => "для алергиків" %>
 	  	 		  		  		
  	<% end %>
 
  	<% form.buttons do %>
  		<%= form.commit_button :label => "Створити новий продукт"%>
	<% end %>
<% end %>
<%= link_to 'Всі продукти', products_path %>