<div class="line"></div>

<h1>Введіть дані для нового продукту:</h1>
<%= javascript_include_tag :ckeditor %>


<% form_for @product, :html => {:multipart => true} do |f| %> 
  <%= f.error_messages %>

  <p>
    <%= f.label 'Назва:' %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label 'Короткий опис:' %><br />
    <%= f.text_area :shortd %>
  </p>
    
  <p>
    <%= f.label 'Розширений опис:' %><br />
    <%= f.cktext_area :description, :language => "uk" %>
  </p>

 <p>
    <%= f.label 'Ціна:' %><br />
    <%= f.text_field :price %>
  </p>

  <p>
  	<%= f.label 'Вибрати фото продукту:' %><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.submit 'Створити' %>
  </p>
<% end %>

<%= link_to 'Всі продукти', products_path %>