<div class="line"></div>
<p>
<% if logged_in?  %>
<%= link_to 'Редагувати', edit_product_path(@product) %> |
<%end %>
<%= link_to 'Назад', products_path %>
</p>
 
<div class="title"> 
		<h3> <strong><%= link_to @product.title, @product.photo.url,:class => "phome" %> </strong> </h3>
		<em><%= @product.ukrtitle %><i></i></em>
	</div>

<div class='clear'></div>
	<div class="forth4"> <i>  <%= @product.category.name %> </i> </div>

<div class="forth">
<%= link_to image_tag(@product.photo.url(:small)), @product.photo.url %>
</br>
    <h5><i>артикул: </i><%= @product.artukyl %> </h5>
</div>

<div class="forth2">
  <h1>  <%= @product.shortd %>  </h1>
  
  <%if @product.twenty==true %> <div class="prodimag"> <%= image_tag("20.png") %> </div> <% end %> 
  <%if @product.thirty==true %> <div class="prodimag"> <%= image_tag("30.png") %> </div> <% end %> 
  <%if @product.forty==true %> <div class="prodimag"> <%= image_tag("40.png") %> </div> <% end %> 
  <%if @product.sixty==true %> <div class="prodimag"> <%= image_tag("60.png") %> </div> <% end %> 
  <%if @product.ninety==true %> <div class="prodimag"> <%= image_tag("95.png") %> </div> <% end %>   
  </div>

<div class="forth3">
	<h2>Ціна за 1 шт.:</h2>
  <h3><%=h @product.price %> грн<sup>*</sup></h3>
	 <div class='clear'></div>
<div class="prodimag2"> <%= link_to (image_tag("standiso.gif")), "http://dqs.com.ua/" %> </div>
<div class="prodimag2"> <%= link_to (image_tag("cleaning.png")), "http://translate.google.com.ua/translate?js=n&prev=_t&hl=uk&ie=UTF-8&layout=2&eotf=1&sl=en&tl=uk&u=http://www.sustainable-cleaning.com/EN_symbol.html" %> </div>
<%if @product.alerg==true %> <div class="prodimag2"> <%= link_to (image_tag("Dermat.gif")), "http://translate.google.com.ua/translate?js=n&prev=_t&hl=uk&ie=UTF-8&layout=2&eotf=1&sl=en&tl=uk&u=http://www.proderm.de/index.php%3Fid%3D9%26L%3D1" %> </div> <% end %> 
<%if @product.astma==true %> <div class="prodimag2"> <%= link_to (image_tag("astma_sensitive.png")), "http://translate.google.com.ua/translate?js=n&prev=_t&hl=uk&ie=UTF-8&layout=2&eotf=1&sl=de&tl=uk&u=http://www.daab.de/index.php" %> </div> <% end %> 
	
<div class='clear'></div>
<%if @product.eighteenzav==true %> <div class="prodimag2"> <%= image_tag("18zav.png") %> </div> <% end %>
<%if @product.twentyzav==true %> <div class="prodimag2"> <%= image_tag("20zav.png") %> </div> <% end %>
<%if @product.fortyzav==true %> <div class="prodimag2"> <%= image_tag("45zav.png") %> </div> <% end %>
<%if @product.seventyzav==true %> <div class="prodimag2"> <%= image_tag("75zav.png") %> </div> <% end %>
<%if @product.hundredzav==true %> <div class="prodimag2"> <%= image_tag("100zav.png") %> </div> <% end %>
	
</div>

<div class='clear'></div>

<div id="tabs">
	<ul>
		<li><a href="#Opys">Опис</a></li>
		<li><a href="#Normy_vutrat">Норми витрат</a></li>
	</ul>
	<div id="Opys">
		<p><%= @product.description %></p>
		</div>
	<div id="Normy_vutrat">
		<%if @product.typ==true %> <%= image_tag("normu1.png") %> <%else%> <%= image_tag("normu.png") %> <% end %>
	</div>
</div>
<h2><sup>*</sup> Ціна не є остаточною і може змінюватись, для уточнення ціни та умов  <%= link_to "доставки", page_path("dost") %> продукції <%= link_to "зв'яжіться з нами", page_path("contacts") %> </h2>


