<div class="line"></div>
<p>
<% if logged_in?  %>
<%= link_to 'Редагувати', edit_product_path(@product) %> |
<%end %>
<%= link_to 'Назад', products_path %>
</p>
 <h3><strong><%= link_to @product.title, @product.photo.url,:class => "phome" %> </strong> </h3>
 <div class='clear'></div>
 <h5><%= @product.ukrtitle %></h5>
 
<div class="forth">
<%= link_to image_tag(@product.photo.url(:small)), @product.photo.url %>
</div>

<div class="forth2">
  <h1>  <%= @product.shortd %>  </h1>
  
  <%if @product.twenty==true %> <div class="prodimag"> <%= image_tag("20.png") %> </div> <% end %> 
  <%if @product.thirty==true %> <div class="prodimag"> <%= image_tag("30.png") %> </div> <% end %> 
  <%if @product.forty==true %> <div class="prodimag"> <%= image_tag("40.png") %> </div> <% end %> 
  <%if @product.sixty==true %> <div class="prodimag"> <%= image_tag("60.png") %> </div> <% end %> 
  <%if @product.ninety==true %> <div class="prodimag"> <%= image_tag("95.png") %> </div> <% end %>   
  </div>

<div class="forth3">
	<h2>Ціна за 1 шт.:</h2>
  <h3><%=h @product.price %> грн<sup>*</sup></h3>
	 <div class='clear'></div>
<div class="prodimag2"> <%= image_tag("standiso.gif")%> </div>
<%if @product.alerg==true %> <div class="prodimag2"> <%= image_tag("Dermat.gif") %> </div> <% end %> 
<%if @product.astma==true %> <div class="prodimag2"> <%= image_tag("astma_sensitive.png") %> </div> <% end %> 
</div>

<div class='clear'></div>

<div id="tabs">
	<ul>
		<li><a href="#Opys">Опис</a></li>
		<li><a href="#Normy_vutrat">Норми витрат</a></li>
	</ul>
	<div id="Opys">
		<p><%= @product.description %></p>
		</div>
	<div id="Normy_vutrat">
		<%= image_tag("normu.gif") %>
	</div>
</div>
<h2><sup>*</sup> Ціна не є остаточною і може змінюватись, для уточнення ціни та умов  <%= link_to "доставки", page_path("dost") %> продукції <%= link_to "зв'яжіться з нами", page_path("contacts") %> </h2>


