<div class="line"></div>

<% if logged_in?  %>
<%= link_to 'Редагувати', edit_product_path(@product) %> |
<%end %>
<%= link_to 'Назад', products_path %>

<p>
 <h3> <%=h @product.title %> </h3>
</p>

<div class="forth">
<%= link_to image_tag(@product.photo.url(:small)), @product.photo.url %>
</div>

<div class="forth2">
  <h1>  <%= @product.shortd %>  </h1>
</div>

<div class="forth3">
	<h2>Ціна за 1 шт.:</h2>
  <h3><%=h @product.price %> грн<sup>*</sup></h3>
  <div class='clear'></div>
  <%= image_tag("standiso.gif") %>
  <%= image_tag("Dermat.gif") %>
</div>

<div class='clear'></div>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Опис</a></li>
		<li><a href="#tabs-2">Норми витрат</a></li>
	</ul>
	<div id="tabs-1">
		<p><%= @product.description %></p>
		</div>
	<div id="tabs-2">
		<%= image_tag("normu.gif") %>
	</div>
</div>
<h2><sup>*</sup> Ціна не є остаточною і може змінюватись, для уточнення <%= link_to "зв'яжіться з нами", page_path("contacts") %> </h2>

