<div class="line"></div>

<% if logged_in?  %>
<%= link_to 'Редагувати', edit_product_path(@product) %> |
<%end %>
<%= link_to 'Назад', products_path %>

<p>
 <h3> <%=h @product.title %> </h3>
</p>

<div class="forth">
<%= link_to image_tag(@product.photo.url(:small)), @product.photo.url %>
</div>

<div class="forth2">
  <h1>  <%= @product.shortd %>  </h1>
</div>

<div class="forth3">
	<h2>Ціна за 1 одиницю (грн)<sup>*</sup>: </h2>
    <h3><%=h @product.price %></h3>
</div>     

<div class='clear'></div>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Характеристики</a></li>
		<li><a href="#tabs-2">Опис</a></li>
		<li><a href="#tabs-3">Норми витрат</a></li>
	</ul>
	<div id="tabs-1">
		<p>
•	Артикуль:  524648 </br>
•	Кількість завантажень пральної машинки: 45</br>
•	Упаковка: картон</br>
•	Вага,кг (нетто): 3.825</br>
•	Залишок на складі,шт.: 320</br>

для оптових покупців:</br>
•	Кількість штук на піддоні: 160</br>
•	Вага нетто на піддоні,кг: 612,00</br>
•	Вага брутто на піддоні,кг: 651.04</br>
		
		</p>
				
		</div>
	<div id="tabs-2">
		<p><%= @product.description %></p>
	</div>
	<div id="tabs-3">
		<%= image_tag("normu.gif") %>
	</div>
</div>
<h2><sup>*</sup> Ціна не є остаточною і може змінюватись, для уточнення <%= link_to "зв'яжіться з нами", page_path("contacts") %> </h2>

