<h1>Listing prodimags</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @prodimags.each do |prodimag| %>
  <tr>
    <td><%=h prodimag.name %></td>
    <td><%= link_to 'Show', prodimag %></td>
    <td><%= link_to 'Edit', edit_prodimag_path(prodimag) %></td>
    <td><%= link_to 'Destroy', prodimag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prodimag', new_prodimag_path %>