<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk" lang="uk">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Robots" content="all" />
	<meta name="author" content="ms" />
	<meta name="dalli.if.ua - офіційний партнер продукції dalli в Україні" content="Description" />
	<meta name="keywords" content="dalli,даллі,далли, пральний порошок,пральний порошок dalli,пральний порошок даллі,пральний порошок далли,стиральный порошок,стиральный порошок dalli,стиральный порошок далли,стиральный порошок даллі,dalli Україна, далли Украина, даллі Україна,купити порошок даллі, купить порошок dalli,dalli.if.ua, даллі івано-франківськ" />
  <%= stylesheet_link_tag "screen", 'blitzer/jquery-ui-1.8.4.custom', :media=> "all" %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min', 'js-global/FancyZoom.js', 'js-global/FancyZoomHTML.js', :cache => true %>
	<title>dalli.if.ua - офіційний імпортер продукції Dalli в Україні</title>
  <script type="text/javascript">
  	$(function() {
  	  setupZoom();
  		$("#tabs").tabs();
  	});
  	</script>
  	
  	
  	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18201310-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  	
  	
</head>
<body>
	<p style="color: green"><%= flash[:notice] %></p>
	<div id="content">
		<p id="top">ТОВ "Зета ІФ" - офіційний імпортер продукції DALLI в Україні (095) 341-96-23<br> <%= mail_to "dalli@dalli.if.ua", "dalli@dalli.if.ua"%> </p>
		<div id="logo">
			<h1><%= link_to "dalli.if.ua", page_path("home") %></h1>
		</div>
		<ul id="menu">
			<li class="<%= controller.controller_name=="pages" && page_path=="/pages/home" ? 'current' : '' %>" ><%= link_to "Головна", page_path("home") %></li>
			
			<% if controller.controller_name=="products"%>	<li class="current"> <%= link_to 'Продукція', products_path %></li>
			<%else%> <li> <%= link_to 'Продукція', products_path %> <%end%>
			
			
			<% if controller.controller_name=="pages" && page_path=="/pages/cert"%> <li class="current"><%= link_to "Сертифікати", page_path("cert") %></li>
			<%else%> <li><%= link_to "Сертифікати", page_path("cert") %></li> <%end%>
			
			
			<% if controller.controller_name=="pages" && page_path=="/pages/coop"%> <li class="current"><%= link_to "Співпраця", page_path("coop") %></li>
			<%else%> <li><%= link_to "Співпраця", page_path("coop") %></li> <%end%>
			
			<% if controller.controller_name=="pages" && page_path=="/pages/dost"%> <li class="current"><%= link_to "Доставка", page_path("dost") %></li>
			<%else%> <li><%= link_to "Доставка", page_path("dost") %></li> <%end%>
			
			<% if controller.controller_name=="pages" && page_path=="/pages/contacts"%> <li class="current"><%= link_to "Контакти", page_path("contacts") %></li>
			<%else%> <li><%= link_to "Контакти", page_path("contacts") %></li> <%end%>
		</ul>
    <%= yield %>
		<div id="footer">
			&copy; Copyright 2010
			<%= mail_to "admin@dalli.if.ua", "dalli.if.ua", :encode => "javascript"%>
		</div>	
	</div>
</body>
</html>